*{
    margin: 0;
    padding: 0;
}

.menu a 
{
    color: rgb(58, 15, 15);
    text-decoration: none;
    margin: 1px 10px;
    transition: .3s;
}
.menu a:hover 
{
    /* transform:scale(2.5); */
    color: goldenrod;
    
}

body{
    background: url("img/sunset.jpg");
background-size:280% ;
background-position: -400px 0px;
}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}
div.register{
    background-color:rgba(0,0,0,0.5);
    width:100% ;
    border-radius: 10px;
    border: 1px solid rosybrown (255,255,255,0.3);
    box-shadow: 2px 2px 15px rosybrown(0,0,0,0,0.3);
    color: aquamarine;
}
form#register{
    margin: 50px;
}
input#submit{
    width:  120px;
    font-size: 20px;
}